.inp {
    margin: 10px 0 0 30px;
    width: 200px;

}

.createServicesBtn {
    background-color: white;
    background: white;
    border: none;
}

.listMain {
    width: 100px;
    list-style-type: none;
    z-index: 999;
    line-height: 0;
}

.serviceText {
    font-size: 15px;
    padding-left: 10px;
    margin: 0;
    width: 350px;
    border-bottom: 1px solid lightgray;
}

.editServicesTextMainBlock {
    display: flex;
    justify-content: space-between;
    width: 180px;
}

.removeServicesButton {
    font-size: 8px;
    height: 18px;
    border: none;
    background: white;
}
.removeServicesButton:hover {
    border-bottom: 0.1px solid #1f90fa;
}


.editServicesText {
    font-size: 8px;
    height: 18px;
    border: none;
    background: white;
}
.editServicesText:hover{
    border-bottom: 0.1px solid #1f90fa;
}

.text {
    padding-left: 10px;
    width: 250px;
    border: none;
    border-bottom: 1px solid lightgray;
}

.price {
    width: 100px;
    text-align: right;
    border: none;
    border-bottom: 1px solid lightgray;
}

.form {
    margin-bottom: 20px;
}

.createServicesMainBlock {
    margin: 0 0 25px 20px;
    display: block;
}

