.container {
  display: flex;
}
.kart6 {
  width: 650px;
  height: 400px;
  margin: 30px 60px 0 15px
}
.content {
  margin: 30px 30px 0 150px;
}
h5{
  margin-top: 50px;
}
.apple {
  margin-right: 15px;
}